<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <script>
      function start() {
          gapi.load('auth2', function() {
              auth2 = gapi.auth2.init({
                  client_id: '170921491735-isss7i6seuvhghgdl6k047lulioppo9a.apps.googleusercontent.com'
              });
          });
      }
  </script>
</head>
<body>
<button id="signinStudentButton">Student Signup with Google</button>
<button id="signinInfluencerButton">Student Signup with Google</button>
<script>
    $('#signinStudentButton').click(function() {
        auth2.grantOfflineAccess().then(studentSignInCallback);
    });
    $('#signinInfluencerButton').click(function() {
        auth2.grantOfflineAccess().then(influencerSignInCallback);
    });
    function studentsignInCallback(authResult) {
        if (authResult['code']) {

            $('#signinButton').attr('style', 'display: none');

            $.ajax({
                type: 'POST',
                url: 'http://localhost:3000/student/check',

                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                },
                processData: false,
                data: authResult['code']
            });
        } else {

        }
    }
    function influencerSignInCallback(authResult) {
        if (authResult['code']) {

            $('#signininfluencerbutton').attr('style', 'display: none');

            $.ajax({
                type: 'POST',
                url: 'http://localhost:3000/check/influencer',

                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    console.log(result);
                },
                processData: false,
                data: authResult['code']
            });
        } else {

        }
    }
</script>
</body>
</html>
