<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
  <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
  <!--<meta name="google-signin-client_id" content="170921491735-isss7i6seuvhghgdl6k047lulioppo9a.apps.googleusercontent.com">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <!--<style> body{background:url("http://localhost:3000/images/background.png") no-repeat}</style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
  <!--<div class="col-lg-4 col-lg-offset-3">-->
    <!--<div class="g-signin2" data-onsuccess="onSignIn">Student SiginIn</div>-->
    <!--<button class="btn btn-primary" href="" onclick="signOut()">Sign out</button>-->
    <!--<div class="g-signin2" data-onsuccess="onSignIn">influencer SignIn</div>-->
  <!--</div>-->
<!--</div>-->



<!--<script>-->
    <!--function onSignIn(googleUser) {-->
        <!--var profile = googleUser.getBasicProfile();-->
<!--//        var xhttp = new XMLHttpRequest();-->
<!--//        xhttp.open("POST", "http://localhost:3000/student/signin", true);-->
<!--//        xhttp.setRequestHeader("Content-type", "application/json");-->
         <!--data=JSON.stringify({email:profile.getEmail()});-->
<!--//        xhttp.send(JSON.stringify(data));-->
        <!--$.ajax({-->
            <!--type: 'POST',-->
            <!--url: 'http://localhost:3000/student/signin',-->
            <!--data: data,-->
            <!--success: function(){-->
                <!--location = '/student/profile'; //this is the redirect-->
            <!--}-->
        <!--});-->
    <!--}-->

      <!--function signOut() {-->
          <!--var auth2 = gapi.auth2.getAuthInstance();-->
          <!--auth2.signOut().then(function () {-->
              <!--console.log('User signed out.');-->
          <!--});-->
      <!--}-->
<!--</script>-->
<!--</body>-->
<!--</html>-->



<!doctype html>
<html>
<head>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="170921491735-isss7i6seuvhghgdl6k047lulioppo9a.apps.googleusercontent.com">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style> body{background:url("http://localhost:3000/images/background.png") no-repeat}</style>
</head>
<body>
<div class="col-lg-4 col-lg-offset-5" style="padding-left:80px;padding-top:100px;margin-top:150px;background-color:white;height:400px;width:300px">
  <div>Student SignIn</div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <a href="#" onclick="signOut();">Sign out</a>
  <div>Influencer SignIn</div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <a href="#" onclick="signOut();">Sign out</a>
</div>

<div id="signupform" style="display:none">login</div>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:3000/check/student');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText=='true'){
                $("#signupform").css("display","block");
            }
        };
        var id_token = googleUser.getAuthResponse().id_token;
        xhr.send('token=' + id_token);
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }



</script>
</body>
</html>